{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я Таня</h1>
    <p>Моя тропинка в программирование проявилась совершенно случайно. Верю, что несмотря на сложности (а без них неинтересно!) она перерастет в дело моей жизни. Ведь программирование это созидание. А у меня страсть что-нибудь сотворить))) 
      <p>Меня и мои работы можно найти <a href="https://github.com/tanyanikolaeva21">ТУТ</a></p>
    <p> В любой непонятной ситуации я всегда обращаюсь за помощью к носителю языка ^_^ </p>
    <p><img src="img/20221006.png" width="800" height="600" alt='питон'></p>
  </div>
{% endblock %} 

