{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>  
  <article class="col-12 col-md-9">
    <p>В настоящий момент я уже умею: </p>
    <p>- работать с базами данных, знаю принципы их работы. Хотя путаюсь еще с миграциями, но и их тоже покорю)</p>
    <p>- создвать проект на локальном компьютере</p>
    <p>- запускать виртуальное окружение</p>
    <p>- работать в командрной строке</p>
    <p>- создавать приложения</p>
    <p>- создавать и использовать ссылки в проекте, а также их отображения</p>
  </article>
</div>
{% endblock %} 