<{% extends 'base.html' %}
{% load static %}
<html lang="ru">
<!DOCTYPE html> 
{% block title %} Новый пост {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
            {% if is_edit %} Редактировать пост
            {% else %} Новый пост
            {% endif %}
            </div>
            <div class="card-body">
              {% if is_edit %}
              <form method="POST" class="../posts/update_post.html"> {% else %}
            <form method="POST" class="../posts/create_post.html">
              {% endif %}{% csrf_token %}
              {% for field in form %}
              <div class="form-group row my-3 p-3">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                    <small id="id_text-help" class="form-text text-muted">
                      Текст нового поста
                    </small>
                  {% endif %}
                </label>    
                {{ field }}
                {% if field.help_text %}
                {% endif %}
              </div>
              {% endfor %}<small id="id_group-help" class="form-text text-muted">
                  Группа, к которой будет относиться пост
                </small>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  {% if is_edit %}
                    Сохранить
                  {% else %}
                    Добавить
                  {% endif %}
                </button> 
 {% endblock %}